h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.navbar {
    background-color: #76BED0 !important;
    border-color: #76BED0 !important;
  }

.special-text {
    color: #F7CB15;
}

.banner {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.divider {
  width: 90%;
  height: 1px;
  background-color: #D3D3D3;
  margin: 0 auto;
}

.make-account-btn {
  background-color: #F53D3E !important;
  border: none;
  border-radius: 50px;
  padding: 30px 30px;
}

.banner {
  display: flex;
}

.banner div {
  flex: 2 1 auto;
  margin-left: 50px;
}

.banner p {
  padding-top: 30px;
}

.banner button {
  margin-right: 50px;
  font-size: 25px;
}

.description {
  padding: 50px 100px 50px 100px;
}

.description-title {
  margin-bottom: 50px;
}

.cards {
  display: flex;
}

.card {
  flex: 1 1 1 auto;
  margin: 0 10px 0 10px;
  padding: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.reviews {

}

.reviews h2 {
  margin: 50px 100px;
}

.footer-sign-up {
  display: flex;
}

.footer-sign-up * {
  flex: 1 1;
  margin: 50px 100px 50px 100px;
}

.footer-sign-up h1 {
  font-size: 50px;
}

.footer-sign-up .footer-sign-up-btn {
  width: 10px;
  font-size: 30px;
  background-color: #F53D3E;
  border: none;
}

.login-btn {
  background-color: #F53D3E !important;
  border: none;
}

.login-title {
  margin-bottom: 50px;
}

/* Registration Form CSS */

.active-form-btn {
  font-weight: bold;
  color: black;
  text-decoration: underline; 
}

.switch-registration {
  margin: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.switch-registration p {
  text-align: center;
  font-size: 26px;
}

.switch-registration .form-btn {
  background-color: white;
  padding: 20px;
  border: none;
  width: 200px;
}

.switch-registration .form-btn:hover {
  font-weight: bold;
}

.patient-form {
  padding: 30px 200px;
}

.patient-form h2 {
  margin-bottom: 40px;
}

.patient-form .step {
  margin-top: 20px;
}

.patient-form .step-descrip {
  margin-top: 20px;
  font-size: 16px;
}

.dropbox {
  border: 1px solid lightgray;
  border-radius: 10px;
  text-align: center;
  padding: 50px;
}

.dropbox:hover {
  cursor: pointer;
}

.dropbox img {
  width: 50px;
  height: auto;
}
