.pending-appointments-scroll-box {
  max-height: 600px;
  overflow-y: auto;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 100px 100px 100px;
}

.pending-appointment-item {
  padding: 25px 0;
  background-color: #f4f4f4;
  border-left: 2px solid transparent;
  transition: border-left-color 0.2s ease;
}

.dashboard .appointment-item p {
  margin: 0px;
  font-size: 1.0em !important;
}

.appointment-item:hover {
  border-left-color: red;
}

.appointment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.patient-name {
  font-weight: 700;
  font-size: 1rem;
}

.time {
  font-size: 0.85rem;
  color: #666;
}

.patient-request {
  margin: 0 0 1rem 0; /* Increase bottom margin for space between text and buttons */
  font-size: 0.85rem;
  color: #444;
}

.appointment-actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start; /* Align buttons to the left */
  margin-top: 0.25rem;         /* Add spacing from the patient request */
}


.confirm {
  background-color: #4CAF50;
  color: white;
}

.confirm:hover {
  background-color: #45a049;
}

.deny {
  background-color: #f44336;
  color: white;
}

.deny:hover {
  background-color: #d32f2f;
}
